<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.personality.mbti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".q01" />
        <activity android:name=".q02" />
        <activity android:name=".q03" />
        <activity android:name=".q04" />
        <activity android:name=".q05" />
        <activity android:name=".q06" />
        <activity android:name=".q07" />
        <activity android:name=".q08" />
        <activity android:name=".q09" />
        <activity android:name=".q10" />
        <activity android:name=".q11" />
        <activity android:name=".q12" />
        <activity android:name=".q13" />
        <activity android:name=".q14" />
        <activity android:name=".q15" />
        <activity android:name=".q16" />
        <activity android:name=".q17" />
        <activity android:name=".q18" />
        <activity android:name=".q19" />
        <activity android:name=".q20" />
        <activity android:name=".q21" />
        <activity android:name=".q22" />
        <activity android:name=".q23" />
        <activity android:name=".q24" />
        <activity android:name=".q25" />
        <activity android:name=".q26" />
        <activity android:name=".q27" />
        <activity android:name=".q28" />
        <activity android:name=".q29" />
        <activity android:name=".q30" />
        <activity android:name=".q31" />
        <activity android:name=".q32" />
        <activity android:name=".q33" />
        <activity android:name=".q34" />
        <activity android:name=".q35" />
        <activity android:name=".q36" />
        <activity android:name=".q37" />
        <activity android:name=".q38" />
        <activity android:name=".q39" />
        <activity android:name=".q40" />
        <activity android:name=".q41" />
        <activity android:name=".q42" />
        <activity android:name=".q43" />
        <activity android:name=".q44" />
        <activity android:name=".q45" />
        <activity android:name=".q46" />
        <activity android:name=".q47" />
        <activity android:name=".q48" />
        <activity android:name=".q49" />
        <activity android:name=".q50" />
        <activity android:name=".q51" />
        <activity android:name=".q52" />
        <activity android:name=".q53" />
        <activity android:name=".q54" />
        <activity android:name=".q55" />
        <activity android:name=".q56" />
        <activity android:name=".q57" />
        <activity android:name=".q58" />
        <activity android:name=".q59" />
        <activity android:name=".q60" />
        <activity android:name=".q61" />
        <activity android:name=".q62" />
        <activity android:name=".q63" />
        <activity android:name=".q64" />
        <activity android:name=".q65" />
        <activity android:name=".q66" />
        <activity android:name=".q67" />
        <activity android:name=".q68" />
        <activity android:name=".q69" />
        <activity android:name=".q70"></activity>
    </application>

</manifest>